body {
  padding: 20px;
  text-align: center;
}

label {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #666666;
}

#username {
  width: 7em;
  font-size: 21px;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
}

#username[disabled] {
  background-color: white;
  color: #999;
}

.input-append button {
  line-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.input-append button.loading {
  background-position: 12px 12px;
  padding-left: 36px;
}

#avatar img {
  height: 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: none;
}

#avatar.empty {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #eee url(user.png) 50% 50% no-repeat;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: none;
}

#feedback {
  margin-bottom: 0;
}

#feedback img {
  vertical-align: -2px;
  margin-right: 3px;
}

#feedback.text-progress {
  font-size: 16px;
  line-height: 20px;
  color: #666;
  margin-top: 20px;
}

.progress {
  width: 332px;
  margin: 10px auto;
}
