html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

#heatmap {
    padding: 30px;
}

.day {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid #e9e9e9;
    margin: 0 0 -1px -1px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.day.empty {
    cursor: default;
}

.day.hover {
    width: 32px;
    height: 32px;
    margin: -1px -1px -2px -2px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.day.selected {
    border-width: 5px;
    width: 22px;
    height: 22px;
}

.day.hover.selected {
    width: 24px;
    height: 24px;
}

p.loading {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 9000;
    margin-top: -30px;
    padding-top: 40px;
    text-align: center;
    background: transparent url(../img/loader-32px-000-fff.gif) center top no-repeat;
}