html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 330px;
    z-index: 2000;
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
    padding: 25px 30px 20px 30px;
    border-bottom: 2px solid #fff;
}

header h1 {
    margin: 0;
    font-size: 23px;
    line-height: 26px;
    font-weight: 200;
    float: left;
}

header .btn-group {
    float: right;
}

header .btn {
    font-weight: bold;
}

#calendar {
    padding: 45px 360px 30px 0;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 270px;
    padding: 25px 30px 30px 29px;
    border-left: 1px solid #e3e3e3;
    background: #f8f8f8;
}

#sidebar h2 {
    margin: 0;
    font-size: 23px;
    line-height: 26px;
    font-weight: 200;
    color: #666;
}

#sidebar h3 {
    margin: 20px 0;
    font-size: 14px;
    line-height: 18px;
    color: #666;
}

.month {
    float: left;
    margin: 30px 0 0 30px;
}

.month h3 {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    margin: 0 0 5px 0;
}

.day {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    margin: 0 0 -1px -1px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.day.empty {
    cursor: default;
    background-color: #f7f8f9;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.day.no-scrobbles {
    cursor: default;
}

.day.monday {
    clear: left;
}

.day.hover {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    margin: -1px -1px -2px -2px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.day.selected {
    color: #fff;
    text-shadow: 0 1px 2px #07529B;
    font-weight: bold;
}

p.loading {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 9000;
    margin-top: -40px;
    padding-top: 40px;
    text-align: center;
    background: transparent url(../img/loader-32px-000-fff.gif) center top no-repeat;
}

#hourly_graph {
    width: 270px;
    height: 200px;
    margin-top: 10px;
}

#tracks {
    /* this is such a hack */
    position: absolute;
    top: 365px;
    left: 29px;
    right: 30px;
    bottom: 30px;
    overflow: auto;
    list-style: none;
    margin: 0;
}

#tracks li {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 3.2em;
}

#tracks .track {
    margin-right: 5px;
}

#tracks .time {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
}